.now-playing-container {
  height: calc(100% - 2rem);
  padding: 0 1rem;
  background-color: #e3f2fde8;
}

.song-details {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left,
.right {
  height: 80%;
}

.left {
  width: 45%;
}

.right {
  width: 55%;
  margin-left: 1rem;
}

.song-details img {
  width: 100%;
}

.song-details h1 {
  font-size: 1.2rem;
  margin-top: 0;
}

.play-pause-status {
  background-color: #191970;
  text-align: center;
}

.play-pause {
  color: #039be5;
  font-size: 1.2rem;
}

.status {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-status {
  width: 100%;
  background-color: #191970;
  display: flex;
  align-items: center;
  justify-content: center;
}

#progress {
  width: 70%;
  height: 0.5rem;
  margin: 0px 0.8rem;
  border-radius: 1rem;
  background-color: #7e7e7e7a;
}

#progress-bar {
  height: 0.5rem;
  border-radius: 1rem;
  background-color: #191970;
}
