.bar {
  display: flex;
  width: 100%;
  height: 2rem;
  min-height: 2rem;
  background-color: #e3f2fd;
  border-bottom: 1px solid black;
}

.heading {
  margin: 0.4rem 0.5rem;
  padding: 0px;
}

.time {
  margin: auto;
}

.battery {
  width: 60%;
}

.right-container-nav {
  display: flex;
  flex-direction: row;
}

.play-pause-nav {
  font-size: 1.67rem;
  margin: 0;
  margin-right: 0.5rem;
  text-align: center;
  color: #039be5;
}

.notification {
  color: #039be5;
  margin: 0.1rem 0.1rem;
  margin: auto;
  text-align: center;
}
